@charset "utf-8";
/* CSS Document */
.menu ul{
	list-style-type: none;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #00297C;
    position: fixed;
    height: 100%;
    overflow: auto;
	color: #D1E0FF;
    z-index: 1000;
}

.menu li a {
    display: block;
	color: #91B5FF;
    padding: 8px 0px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    background-color: #276CF7;
	color: #D1E0FF;
}